/**
* Variables
**/

$container-width: 90%;
$top-bar-spacing: 0.5rem;
$footer-background-color: #2f2f2f;
$footer-text-color: #ffffff;

body {
    font-family: 'Open Sans', Arial, sans-serif;
}

.container {
    width: $container-width;
    margin: 0px auto;
    padding-top: 3rem;
}

/**
* Navigation 
**/

.top-bar {
    ul {
        padding-top: $top-bar-spacing;
        padding-bottom: $top-bar-spacing;
        li {
            padding-left: $top-bar-spacing;
            padding-right: $top-bar-spacing;
            &.active {}
        }
    }
}

/**
* Auxiliary Styles
* These are optional styles included out of the box that you can add to components. None of them will be pre-applied.
**/

.heading-padding{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/**
* Footer 
**/

footer {
    background: $footer-background-color;
    color: $footer-text-color;
    margin-top: 3rem;
    .container {
        padding-bottom: 3rem;
    }
}
