$menu-title-color: #ffffff;
$container-width: 90%;
$top-bar-spacing: 1rem;

body{
    font-family: 'Open Sans', Arial, sans-serif;
}

.top-bar{
    ul{
        padding-top: $top-bar-spacing; 
        padding-bottom: $top-bar-spacing;
        li{
            padding-left: $top-bar-spacing;
            padding-right: $top-bar-spacing;
            &.active{
            }
            &.menu-text{
                color: $menu-title-color;
                padding-right: 3rem;
            }
        }
    }
}

.container{
    width: $container-width;
    margin: 0px auto;
    padding-top: 3rem;
}