{% macro render_pagination(pagination) %}
<ul class="pagination" role="navigation" aria-label="Pagination">
    {% if pagination.has_prev %}
    <li class="pagination-previous"><a href="{{ pagination.prev|url }}" aria-label="Previous page">Previous</li>
    {% else %}
      <li class="pagination-previous disabled">Previous</li>
    {% endif %}
    {{ pagination.page }}
    {% if pagination.has_next %}
      <li class="pagination-next" aria-label="Next page"><a href="{{ pagination.next|url }}">Next</a></li>
    {% else %}
    <li class="pagination-next disabled">Next</li>
    {% endif %}
</ul>
{% endmacro %}
