<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/css/style.css'|url }}">
<link rel="stylesheet" href="{{ '/static/css/foundation-sites.css'|url }}">
<title>{% block title %}{% endblock %}</title>

<body>
    <nav class="top-bar" data-topbar role="navigation">
            <ul class="vertical medium-horizontal menu dropdown" data-dropdown-menu role="menubar">
                <li class="menu-text">Site Title</li>
                <li{% if this._path=='/' %} class="active" {% endif %}><a href="{{ '/'|url }}">Home</a></li>
                    {% set root = site.get('/') %}
                    {% for child in root.children recursive %}
                    <li{% if this==child %} class="active" {% endif %}><a href="{{ child|url }}">{{ child.title }}</a>
                        {% if child.children and child._model!='blog' %}<ul class="submenu menu vertical first-sub" aria-hidden="true" role="menu" data-submenu="">{{ loop(child.children) }}</ul>{% endif %}
                    </li>
                    {% endfor %}
            </ul>
    </nav>
    
    <div class="container">
        {% block body %}{% endblock %}
        <footer>
            &copy; Copyright 2015
        </footer>
    </div>
    <script type="text/javascript" src="{{ '/static/js/vendor/jquery.min.js'|url }}"></script>
    <script type="text/javascript" src="{{ '/static/js/vendor/what-input.min.js'|url }}"></script>
    <script type="text/javascript" src="{{ '/static/js/foundation.min.js'|url }}"></script>
    <script type="text/javascript" src="{{ '/static/js/foundation.dropdownMenu.js'|url }}"></script>
    <script>
      $(document).foundation();
    </script>
</body>
